# Ignore local dir files
README.md
archive_data_prep.py
data_preperation/
terrafrom_deploy_steps.txt
rag-source-knowledge/
# Ignore sensitive environment variables
.venv
.env
# Ignore Docker-related files
Dockerfile*
.dockerignore